# Treat these as binary to prevent automatic line-ending mangling
*.zip binary
*.exe binary
*.woff2 binary
*.woff binary
*.eot binary
*.ttf binary
*.gif binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.pdf binary

# Normalize text files
*.html text eol=lf
*.css  text eol=lf
*.js   text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.svg  text eol=lf
